.modal-container {
    position: fixed; /* Fixa o modal na tela */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100%; /* Ocupa toda a altura da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    display: none; /* Inicialmente oculto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
}

.modal {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    width:  85%; /* Largura ocupando 80% da tela */
    max-width: 600px; /* Largura máxima de 600px */
    max-height: 100%; /* Altura máxima de 90% da tela */
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for maior que a altura */
    position: relative; /* Para posicionar o botão de fechar */
    display: flex; /* Para centralizar o conteúdo verticalmente */
    flex-direction: column; /* Para alinhar o conteúdo verticalmente */
}


.modal-content { /* Novo elemento para envolver o conteúdo do modal */
    flex: 2; /* Ocupa o espaço disponível */
    align-items: center;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}


@keyframes animate-modal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: animate-modal .3s;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
  }
  
  body::-webkit-scrollbar-thumb {
    background: #3B3E99;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #1b1d47;
  }
